@model test.Models.InfoViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Info";
}
<br />
<br />

<div class="row backImg">
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="jumbotron jumbotron-fluid" style="background-color: #e3f2fd;border-radius:4px">
            <div>
                @using (Html.BeginForm("", "", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <br />
                    <h4 style="text-align:center">Update Info</h4>
                    <hr />
                    @Html.ValidationSummary()
                    @Html.HiddenFor(m => m.id)
                    <div class="form-group">
                        @Html.LabelFor(m => m.TelNo, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.TelNo, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AddressLine1, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AddressLine2, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AddressLine3, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.AddressLine3, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.AddressCode, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.AddressCode, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PostalAddress1, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.PostalAddress1, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PostalAddress2, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.PostalAddress2, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(m => m.PostalCode, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control " })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12 control-label" style="text-align:center">Change Password</label>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="form-group" style="display:none" id="confirm">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label", style = "text-align:left" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12" style="text-align:right">
                            <div class="btn btn-default" style="background-color: #3ec1d5" id="Update">Update</div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12"></div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>

    $("#Password").keyup(function () {
        var pwd = $("#Password").val();
        if (pwd == "") {
            $("#confirm").hide();
            $("#ConfirmPassword").val('');
        }
        else {
            $("#confirm").show();
        }
    });

    $(document).on('click', "#Update", function () {
            var login_pwd = $("#Password").val();

            if (login_pwd != null) {
                var count = login_pwd.toString().length;

                if (count <= 3) {
                    toastr.error("Password must not be less than four(4) digits", 'Error!');
                    $("#Password").val('');
                    $("#ConfirmPassword").val('');
                    return null;
                }
                var _pwdConfirm = $("#ConfirmPassword").val();
                if (_pwdConfirm != login_pwd) {
                    toastr.error("Password must be the same with confirm password", 'Error!');
                    $("#Password").val('');
                    $("#ConfirmPassword").val('');
                    $("#confirm").hide();
                    return null;
                }
            }

            $('#preloader').show();
            var user_id = "@ViewBag.userID";
           
            var data =
            {
                PersonId : user_id,
                TelNo : $("#TelNo").val(),
                AddressLine1: $("#AddressLine1").val(),
                AddressLine2: $("#AddressLine2").val(),
                AddressLine3: $("#AddressLine3").val(),
                AddressCode: $("#AddressCode").val(),
                PostalAddress1: $("#PostalAddress1").val(),
                PostalAddress2: $("#PostalAddress2").val(),
                PostalCode: $("#PostalCode").val()
            };

            var obj = JSON.stringify(data);

            $.ajax({
                url: "/Account/Update?person=" + obj.toString() + "&password=" + login_pwd,
                dataType: 'json',
                async: true,
                success: function (data) {
                    $('#preloader').hide();
                    if (data.result === "Success" || data === undefined) {
                        toastr.success(data.message, 'success!');
                        $("#Password").val('');
                        $("#ConfirmPassword").val('');
                        $("#confirm").hide();
                        return null;
                    }
                    else {
                        toastr.error(data.message, 'Error!');
                    }
                },
                error: function (data) {
                    toastr.error("Failed to send application", 'Error!');
                }
            });
        });

</script>
}
